// Place all the styles related to the public/end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.end-user-show {
  width : 100%;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 10px dotted rgba(0,0,0,.2);
  box-shadow: 0 0 0 2px #f8f8f8;
}

.end-user-show-table{
  width : 100%;
  height: 100%;
  word-wrap: break-word;
}
.end-user-show-table,td{
  width : auto;
  word-wrap: break-word;
  font-size: 90%;
}
.title{
  width: 50%;
}
.comment-count{
  width: 10%;
}
.edit-destroy{
  width: 40%;
}
.card-group{
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card-group > :nth-child(2n){
  margin-left: 20px;
}

.card-group > :nth-child(n+3){
  margin-top: 20px;
}



.card{
  width: calc((100% - 20px * 1) / 2);
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,.2)
}

.card__imgframe{
  width: 100%;
  height: auto;
  background: #fff;
  box-sizing: border-box;
}

.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #fff;
  box-sizing: border-box;
}

.card__textbox > * + *{
  margin-top: 10px;
}

.card__titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}

.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}