<div class="container mt-10">
  <div class="row mt-5">
<div class="main-visual">
  <div class="text">
    <h5>
      ようこそ!！<br>
      Omoideは皆さんの旅の思い出写真を地図と一緒に記録します。<br>
      旅先での最高のOmoideを共有してください。<br>
    </h5>
    </div>

    <div class="links">
    <%=link_to "新規登録", new_end_user_registration_path, class:"btn btn-sm btn-light" %>
    <%=link_to "ログイン", new_end_user_session_path, class:"btn btn-sm btn-light mr-2 ml-2" %>
    <%=link_to "ゲストログイン", end_user_guest_sign_in_path, class:"btn btn-sm btn-light", method: :post %><br>
    </div>
    </div>
    </div>
  </div>
