<div class ="like_button">
<% if post.favorited_by?(current_end_user) %>
<p>
  <%= link_to post_favorites_path(post), method: :delete, class: "btn btn-outline-warning" do %>
    ♥<%= post.favorites.count %> いいね
  <% end %>
</p>
<% else %>
<p>
  <%= link_to post_favorites_path(post), method: :post, class: "btn btn-outline-warning" do %>
    ♡<%= post.favorites.count %> いいね
  <% end %>
</p>
<% end %>
</div>