<div class="container">
  <div class="row mt-5">
    <table class="table">
      <thead>
        <tr>
          <th>イメージ</th>
          <th>タイトル</th>
          <th>投稿者</th>
          <th>コメント数</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |posts| %>
        <tr>
          <td><%= image_tag posts.get_image(50,50) %></td>
          <td><% link_to %><%= posts.title %><% end %></td>
          <td><%= posts.end_user.nickname %></td>
          <td><%= posts.post_comments.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
